html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "e-Ukraine", Helvetica, Arial;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

:root {
  --app-height: 100%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  background: #E5E5E5;
}

.page-wrapper {
  max-width: 450px;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
  position: relative;
}

.page-wrapper .page-inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 40px 35px;
}

.page-wrapper .logo {
  max-width: 180px;
}

.page-wrapper .logo img {
  width: 100%;
}

.page-wrapper .office-name {
  font-family: "e-Ukraine", Helvetica, Arial;
  font-size: 10px;
  line-height: 14px;
  white-space: nowrap;
  font-weight: 500;
  position: absolute;
  top: 40px;
  right: 35px;
}

.page-wrapper .start-page,
.page-wrapper .last-page {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(./../img/start-page-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}

.page-wrapper .start-page .text-block,
.page-wrapper .last-page .text-block {
  max-width: 373px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-wrapper .start-page .text-block .top-text,
.page-wrapper .last-page .text-block .top-text {
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.page-wrapper .start-page .text-block .middle-text,
.page-wrapper .last-page .text-block .middle-text {
  font-family: "e-Ukraine", Helvetica, Arial;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 50px;
}

.page-wrapper .start-page .text-block .btm-text,
.page-wrapper .last-page .text-block .btm-text {
  padding-top: 35px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.page-wrapper .start-page .btn,
.page-wrapper .last-page .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page-wrapper .start-page .btn .btn-active,
.page-wrapper .last-page .btn .btn-active {
  background: #000000;
  border-radius: 27px;
  padding: 20px 70px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  outline: none;
  max-width: 100%;
}

.page-wrapper .last-page {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-wrapper .last-page .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.page-wrapper .last-page .footer .btns-app a {
  width: 128px;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.page-wrapper .last-page .footer .btns-app a.store-apple {
  background: url(./../img/btn-app-store.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-wrapper .last-page .footer .btns-app a.store-google {
  background: url(./../img/btn-google-pay.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-wrapper .last-page .footer .btns-app a.store-app-gallery {
  background: url(./../img/btn-app-gallery.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-wrapper .last-page .footer .footer-logo {
  width: 115px;
}

.page-wrapper .last-page .footer .footer-logo img {
  width: 100%;
}

.page-wrapper .survey-content {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-wrapper .survey-content form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper .survey-content .contact-list.owl-carousel,
.page-wrapper .survey-content .questions-list.owl-carousel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-wrapper .survey-content .contact-list.owl-carousel.owl-carousel .question-wrap,
.page-wrapper .survey-content .questions-list.owl-carousel.owl-carousel .question-wrap {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.page-wrapper .survey-content .contact-list.owl-carousel.owl-carousel .question-wrap.pd80,
.page-wrapper .survey-content .questions-list.owl-carousel.owl-carousel .question-wrap.pd80 {
  padding-bottom: 80px;
}

.page-wrapper .survey-content .contact-list.owl-carousel.owl-carousel .question-wrap .btn-wrap,
.page-wrapper .survey-content .questions-list.owl-carousel.owl-carousel .question-wrap .btn-wrap {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.page-wrapper .survey-content .owl-stage {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.page-wrapper .survey-content .owl-item.active {
  height: 100% !important;
  opacity: 1;
}

.page-wrapper .survey-content .owl-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  opacity: 0;
}

.page-wrapper .survey-content .question-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-wrapper .survey-page {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-wrapper .survey-page .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper .survey-page .owl-item {
  height: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  overflow: hidden;
}

.page-wrapper .survey-page .owl-item.active {
  height: auto;
}

.page-wrapper .survey-page .contact-list {
  padding-top: 30px;
}

.page-wrapper .survey-page .contact-list .btn-next {
  display: block !important;
}

.page-wrapper .survey-page .questions-list,
.page-wrapper .survey-page .contact-list {
  margin-left: -5px;
  margin-right: -5px;
}

.page-wrapper .survey-page .questions-list .question-wrap,
.page-wrapper .survey-page .contact-list .question-wrap {
  padding: 5px;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  max-width: 100%;
}

.page-wrapper .survey-page .questions-list .question-wrap .name,
.page-wrapper .survey-page .contact-list .question-wrap .name {
  font-family: "e-Ukraine", Helvetica, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-top: 20px;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list {
  padding-top: 20px;
  pointer-events: auto !important;
  width: 100%;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .sub-answer,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .sub-answer {
  width: 100%;
  max-width: 100%;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item {
  padding-bottom: 20px;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item input[type=radio],
.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item input[type=checkbox],
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item input[type=radio],
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item input[type=checkbox] {
  display: none;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item input[type=radio]:checked ~ label,
.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item input[type=checkbox]:checked ~ label,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item input[type=radio]:checked ~ label,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item input[type=checkbox]:checked ~ label {
  color: #FFFFFF;
  border-color: #fff;
  background-position: left;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item p,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item p {
  padding: 20px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  resize: none;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item textarea,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item textarea {
  padding: 20px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  width: 100%;
  border: none;
  resize: none;
  border-radius: 0px;
  min-height: 57px;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item textarea:focus ~ .line,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item textarea:focus ~ .line {
  background-position: right;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item .textarea-wrap,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item .textarea-wrap {
  position: relative;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item .textarea-wrap .line,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item .textarea-wrap .line {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#C3AAB2), color-stop(33.3%, #C3AAB2), color-stop(70%, #C3AAB2), color-stop(82.66%, #9ec), color-stop(90.7%, #80C0C8), to(#4B8BFA));
  background: -webkit-linear-gradient(left, #C3AAB2 0%, #C3AAB2 33.3%, #C3AAB2 70%, #9ec 82.66%, #80C0C8 90.7%, #4B8BFA 100%);
  background: -o-linear-gradient(left, #C3AAB2 0%, #C3AAB2 33.3%, #C3AAB2 70%, #9ec 82.66%, #80C0C8 90.7%, #4B8BFA 100%);
  background: linear-gradient(90deg, #C3AAB2 0%, #C3AAB2 33.3%, #C3AAB2 70%, #9ec 82.66%, #80C0C8 90.7%, #4B8BFA 100%);
  background-position: left;
  -webkit-background-size: 300% 100%;
          background-size: 300% 100%;
  height: 2px;
  -webkit-transition: background-position 0.3s ease-in;
  -o-transition: background-position 0.3s ease-in;
  transition: background-position 0.3s ease-in;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item label,
.page-wrapper .survey-page .contact-list .question-wrap .answers-list .answer-item label {
  border: 0.8px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 27px;
  padding: 10px 20px;
  min-width: 225px;
  min-height: 55px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-linear-gradient(5.7deg, #007EFF 3%, #D7F64D 35%, #fff 70%, #fff 100%);
  background: -o-linear-gradient(5.7deg, #007EFF 3%, #D7F64D 35%, #fff 70%, #fff 100%);
  background: linear-gradient(84.3deg, #007EFF 3%, #D7F64D 35%, #fff 70%, #fff 100%);
  background-position: right;
  -webkit-background-size: 300% 100%;
          background-size: 300% 100%;
  -webkit-transition: background-position 0.3s ease-in, border-color 0.3s, color 0.3s;
  -o-transition: background-position 0.3s ease-in, border-color 0.3s, color 0.3s;
  transition: background-position 0.3s ease-in, border-color 0.3s, color 0.3s;
}

.page-wrapper .survey-page .questions-list .question-wrap .range-labels,
.page-wrapper .survey-page .contact-list .question-wrap .range-labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -45px;
}

.page-wrapper .survey-page .questions-list .question-wrap .range-labels .label,
.page-wrapper .survey-page .contact-list .question-wrap .range-labels .label {
  font-family: "e-Ukraine", Helvetica, Arial;
  font-weight: 200;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  font-style: italic;
  max-width: 120px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.page-wrapper .survey-page .questions-list .question-wrap .range-labels .label.active,
.page-wrapper .survey-page .contact-list .question-wrap .range-labels .label.active {
  opacity: 1;
}

.page-wrapper .survey-page .questions-list .question-wrap .range-labels .label.label-0,
.page-wrapper .survey-page .contact-list .question-wrap .range-labels .label.label-0 {
  text-align: left;
}

.page-wrapper .survey-page .questions-list .question-wrap .range-labels .label.label-10,
.page-wrapper .survey-page .contact-list .question-wrap .range-labels .label.label-10 {
  text-align: right;
}

.page-wrapper .survey-page .questions-list .question-wrap .answers-wd-100 .answer-item label,
.page-wrapper .survey-page .contact-list .question-wrap .answers-wd-100 .answer-item label {
  width: 100%;
}

.page-wrapper .survey-page .questions-list .btn-wrap,
.page-wrapper .survey-page .contact-list .btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-wrapper .survey-page .questions-list .btn-wrap .btn-next,
.page-wrapper .survey-page .contact-list .btn-wrap .btn-next {
  background: #000000;
  border-radius: 27px;
  padding: 20px 70px;
  font-family: "e-Ukraine", Helvetica, Arial;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  outline: none;
  max-width: 255px;
  min-width: 250px;
  cursor: pointer;
  display: none;
  border: none;
}

.page-wrapper .survey-page .questions-list .hidden,
.page-wrapper .survey-page .contact-list .hidden {
  display: none;
  width: 0px;
  max-width: 0px;
}

.page-wrapper .survey-btm {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  width: 100%;
}

.page-wrapper .survey-btm .line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 5px;
  background: #E5E5E5;
}

.page-wrapper .survey-btm .line .progress-line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  background: #0C0005;
  height: 5px;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

@media screen and (max-width: 375px) {
  .page-wrapper .page-inner {
    padding: 30px 20px;
  }
  .page-wrapper .logo {
    max-width: 100px;
  }
  .page-wrapper .survey-page .questions-list .question-wrap .name {
    font-size: 16px;
    line-height: 18px;
  }
  .page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item {
    padding-bottom: 15px;
  }
  .page-wrapper .survey-page .questions-list .question-wrap .answers-list .answer-item label {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 20px;
    min-height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */