$fontPage: 'e-Ukraine', Helvetica, Arial;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
  
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote {
    &:before, &:after {
        content: '';
        content: none;
    }
}
q {
    &:before, &:after {
      content: '';
      content: none;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-family: $fontPage;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 3px;
        background-color: #fff;
    }
    &::-webkit-scrollbar {
        width: 3px;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        box-shadow: inset 0 0 3px rgba(0,0,0,.1);
        background-color: #000000;
    }
}
:root {
    --app-height: 100%;
}
html,
body {
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
    background: #E5E5E5;
}
.page-wrapper {
    max-width: 450px;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;
    .page-inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 40px 35px;
    }
    .logo {
        max-width: 180px;
        img {
            width: 100%;
        }
    }
    .office-name {
        font-family: $fontPage;
        font-size: 10px;
        line-height: 14px;
        white-space: nowrap;
        font-weight: 500;
        position: absolute;
        top: 40px;
        right: 35px;
    }
    .start-page,
    .last-page {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        background: url(./../img/start-page-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .text-block {
            max-width: 373px;
            padding-top: 40px;
            padding-bottom: 40px;
            .top-text {
                font-family: $fontPage;
                font-weight: 600;
                font-size: 26px;
                line-height: 30px;
                color: #000000;    
            }
            .middle-text {
                font-family: $fontPage;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                padding-top: 50px;
            }
            .btm-text {
                padding-top: 35px;
                font-family: $fontPage;
                font-weight: 200;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
            }
        }
        .btn {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            .btn-active {
                background: #000000;
                border-radius: 27px;
                padding: 20px 70px;
                font-family: $fontPage;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                display: block;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                outline: none;
                max-width: 100%;
            }
        }
    }
    .last-page {
        justify-content: space-between;
        .footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding-top: 30px;
            .btns-app {
                a {
                    width: 128px;
                    height: 40px;
                    margin-bottom: 20px;
                    outline: none;
                    cursor: pointer;
                    text-decoration: none;
                    display: block;
                    &.store-apple {
                        background: url(./../img/btn-app-store.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    &.store-google {
                        background: url(./../img/btn-google-pay.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    &.store-app-gallery {
                        background: url(./../img/btn-app-gallery.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
            .footer-logo {
                width: 115px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .survey-content {
        width: 100%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        form {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contact-list.owl-carousel,
        .questions-list.owl-carousel {
            flex: 1 0 auto;
            display: flex;
            &.owl-carousel {
                .question-wrap {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    position: relative;
                    &.pd80 {
                        padding-bottom: 80px;

                    }
                    .btn-wrap {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .owl-stage {
            flex: 1 0 auto;
            display: flex;
            height: 100%;
        }
        .owl-item.active {
            height: 100% !important;
            opacity: 1;
        }
        .owl-item {
            flex: 1 0 auto;
            display: flex;
            height: 100%;
            opacity: 0;
        }
        .question-wrap {
            flex: 1 0 auto;
        }
    }
    .survey-page {
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        .owl-stage {
            display: flex;
            align-items: center;
        }
        .owl-item {
            height: 0;
            transition: none;
            overflow: hidden;
        }    
        .owl-item.active {
            height: auto;
        }
        .contact-list {
            padding-top: 30px;
            .btn-next {
                display: block !important;
            }
        }
        .questions-list,
        .contact-list {
            margin-left: -5px;
            margin-right: -5px;
            // max-height: calc(100vh - 250px);
            // overflow: auto;
            .question-wrap {
                // max-height: calc(100vh - 280px);
                // overflow: auto;
                padding: 5px;
                transition: opacity 0.3s ease-in;
                max-width: 100%;
                .name {
                    font-family: $fontPage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    padding-top: 20px;
                }
                .answers-list {
                    padding-top: 20px;
                    pointer-events: auto !important;
                    width: 100%;
                    .sub-answer {
                        width: 100%;
                        max-width: 100%;
                    }
                    .answer-item {
                        padding-bottom: 20px;
                        input[type=radio],
                        input[type=checkbox] {
                            display: none;
                            &:checked {
                                ~ label {
                                    color: #FFFFFF;
                                    border-color: #fff;
                                    background-position: left;
                                }
                            }
                        }
                        p {
                            padding: 20px;
                            font-family: $fontPage;
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            outline: none;
                            width: 100%;
                            border: none;
                            resize: none;
                        }
                        textarea {
                            padding: 20px;
                            font-family: $fontPage;
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            outline: none;
                            width: 100%;
                            border: none;
                            resize: none;
                            // border-bottom: 0.8px solid #000000;
                            border-radius: 0px;
                            min-height: 57px;
                            &:focus {
                                ~ .line {
                                    background-position: right;
                                }
                            }
                        }
                        .textarea-wrap {
                            position: relative;
                            .line {
                                display: block;
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                                background: linear-gradient(90deg, #C3AAB2 0%,  #C3AAB2 33.3%, #C3AAB2 70%, #9ec 82.66%, #80C0C8 90.7%, #4B8BFA 100%);
                                background-position: left;
                                background-size: 300% 100%;
                                height: 2px;
                                transition: background-position 0.3s ease-in;
                            }
                        }
                        label {
                            border: 0.8px solid #000000;
                            box-sizing: border-box;
                            border-radius: 27px;
                            padding: 10px 20px;
                            min-width: 225px;
                            min-height: 55px;
                            font-family: $fontPage;
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            text-align: center;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            // background: linear-gradient(84.3deg,#fff 0%, #fff 50%, #007EFF 8.58%, #D7F64D 88.87%);
                            background: linear-gradient(84.3deg, #007EFF 3%, #D7F64D 35%, #fff 70%, #fff 100%);
                            background-position: right;
                            background-size: 300% 100%;
                            transition: background-position 0.3s ease-in, border-color 0.3s, color 0.3s;
                        }
                    }
                }
                .range-labels {
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    margin-top: -45px;
                    .label {
                        font-family: $fontPage;
                        font-weight: 200;
                        font-size: 12px;
                        line-height: 17px;
                        color: #000000;
                        font-style: italic;
                        max-width: 120px;
                        opacity: 0;
                        transition: opacity 0.3s ease-in;
                        &.active {
                            opacity: 1;
                        }
                        &.label-0 {
                            text-align: left;
                        }
                        &.label-10 {
                            text-align: right;
                        }
                    }
                }
                .answers-wd-100 {
                    .answer-item {
                        label {
                            width: 100%;
                        }
                    }
                }

            }
            .btn-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 40px;
                .btn-next {
                    background: #000000;
                    border-radius: 27px;
                    padding: 20px 70px;
                    font-family: $fontPage;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    text-transform: none;
                    outline: none;
                    max-width: 255px;
                    min-width: 250px;
                    cursor: pointer;
                    display: none;
                    border: none;
                }
            }
            .hidden {
                display: none;
                width: 0px;
                max-width: 0px;
            }
        }
    }
    .survey-btm {
        position: relative;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        width: 100%;
        .line {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 5px;
            background: #E5E5E5;
            .progress-line {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 0px;
                background: #0C0005;
                height: 5px;
                transition: width 0.3s ease-in;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .page-wrapper {
        .page-inner {
            padding: 30px 20px;
        }
        .logo {
            max-width: 100px;
        }
        .survey-page {
            .questions-list {
                .question-wrap {
                    .name {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    .answers-list {
                        .answer-item {
                            padding-bottom: 15px;
                            label {
                                font-size: 12px;
                                line-height: 15px;
                                padding: 10px 20px;
                                min-height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}